html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  text-align: center;
    position: relative;

}

.App-header {
  background-color: #282c34;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-section {
  height: 100%;

  display: flex;
  flex: wrap;
  overflow: hidden;
}

.page-title {
  color: #E1B61D;
}

#map {
  width: 59%;
  height: 100vh;
  margin: 0;
  position: absolute;
  right: 0px;
}

#search-list {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  /*height: 100%;*/
  height: 100vh;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  max-width: 100%;
  width: 290px;
  /*width: 35%;*/
  margin: 0;
  z-index: 5;
  align-content: left;
}

#search {
  margin: 0.5em;
}

.list-items {
  border: 1px solid;
  margin: 0.5em;
}

.brewery-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-title {
  text-align: center;
}

.nav-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 1em;
}

.nav-menu svg {
  width: 30px;
  fill: #E1B61D;
}

@media screen and (max-width: 425px) {
  .page-title {
    font-size: 0.9em;
  }

  input {
    width: 60%;
  }

  #search-list {
    width: 100%;
    max-width: 100%;
    height: 80%;

    position: relative;
    z-index: 1;
  }

  #map {
    width: 100%;
    max-width: 100%;
    height: 80%;

    z-index: 1;
    position: relative;

  }

  .brewery-list {
    width: 100%;
    margin: 0;
  }

  .list-items {
    width: 95%;
  }

}

@media screen and (min-width: 830px) {
  #map {
    width: 78%;
  }
}